<section class="property-three">
	<div class="auto-container">
		<h2>Günün Favori İlanları</h2>
		
	</div>
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Property Block One -->
			<div class="property-block_one style-three col-lg-4 col-md-6 col-sm-12">
				<div class="property-block_one-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="property-block_one-image">
						<div class="property-block_one-title">Featuerd</div>
						<a href="property-detail.html"><img src="/palace/assets/images/resource/property-1.jpg" alt="" /></a>
					</div>
					<div class="property-block_one-content">
						<div class="property-block_one-location"><i class="flaticon-maps-and-flags"></i>Pasadena 809b-2, Oklahoma</div>
						<h4 class="property-block_one-heading"><a href="property-detail.html">Super deluxe bed room near sea beech</a></h4>
						<ul class="property-block_one-info">
							<li><span><img src="/palace/assets/images/icons/bed.svg" alt="" /></span>4 Beds</li>
							<li><span><img src="/palace/assets/images/icons/bath.svg" alt="" /></span>2 Bathrooms</li>
							<li><span><img src="/palace/assets/images/icons/square.svg" alt="" /></span>6x8 m²</li>
						</ul>
						<div class="d-flex justify-content-between align-items-center flex-wrap">
							<div class="property-block_one-price">$2,400 <span>/month</span></div>
							<a class="property-block_one-heart" href="property-detail.html"><img src="/palace/assets/images/icons/heart.svg" alt="" /></a>
						</div>
					</div>
				</div>
			</div>

			<!-- Property Block One -->
			<div class="property-block_one style-three col-lg-4 col-md-6 col-sm-12">
				<div class="property-block_one-inner wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="property-block_one-image">
						<div class="property-block_one-title">Featuerd</div>
						<a href="property-detail.html"><img src="/palace/assets/images/resource/property-2.jpg" alt="" /></a>
					</div>
					<div class="property-block_one-content">
						<div class="property-block_one-location"><i class="flaticon-maps-and-flags"></i>Pasadena 809b-2, Oklahoma</div>
						<h4 class="property-block_one-heading"><a href="property-detail.html">Super deluxe bed room near sea beech</a></h4>
						<ul class="property-block_one-info">
							<li><span><img src="/palace/assets/images/icons/bed.svg" alt="" /></span>4 Beds</li>
							<li><span><img src="/palace/assets/images/icons/bath.svg" alt="" /></span>2 Bathrooms</li>
							<li><span><img src="/palace/assets/images/icons/square.svg" alt="" /></span>6x8 m²</li>
						</ul>
						<div class="d-flex justify-content-between align-items-center flex-wrap">
							<div class="property-block_one-price">$2,400 <span>/month</span></div>
							<a class="property-block_one-heart" href="property-detail.html"><img src="/palace/assets/images/icons/heart.svg" alt="" /></a>
						</div>
					</div>
				</div>
			</div>

			<!-- Property Block One -->
			<div class="property-block_one style-three col-lg-4 col-md-6 col-sm-12">
				<div class="property-block_one-inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="property-block_one-image">
						<div class="property-block_one-title">Featuerd</div>
						<a href="property-detail.html"><img src="/palace/assets/images/resource/property-3.jpg" alt="" /></a>
					</div>
					<div class="property-block_one-content">
						<div class="property-block_one-location"><i class="flaticon-maps-and-flags"></i>Pasadena 809b-2, Oklahoma</div>
						<h4 class="property-block_one-heading"><a href="property-detail.html">Super deluxe bed room near sea beech</a></h4>
						<ul class="property-block_one-info">
							<li><span><img src="/palace/assets/images/icons/bed.svg" alt="" /></span>4 Beds</li>
							<li><span><img src="/palace/assets/images/icons/bath.svg" alt="" /></span>2 Bathrooms</li>
							<li><span><img src="/palace/assets/images/icons/square.svg" alt="" /></span>6x8 m²</li>
						</ul>
						<div class="d-flex justify-content-between align-items-center flex-wrap">
							<div class="property-block_one-price">$2,400 <span>/month</span></div>
							<a class="property-block_one-heart" href="property-detail.html"><img src="/palace/assets/images/icons/heart.svg" alt="" /></a>
						</div>
					</div>
				</div>
			</div>

			<!-- Property Block One -->
			<div class="property-block_one style-three col-lg-4 col-md-6 col-sm-12">
				<div class="property-block_one-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="property-block_one-image">
						<div class="property-block_one-title">Featuerd</div>
						<a href="property-detail.html"><img src="/palace/assets/images/resource/property-4.jpg" alt="" /></a>
					</div>
					<div class="property-block_one-content">
						<div class="property-block_one-location"><i class="flaticon-maps-and-flags"></i>Pasadena 809b-2, Oklahoma</div>
						<h4 class="property-block_one-heading"><a href="property-detail.html">Outside the cities happy home for live</a></h4>
						<ul class="property-block_one-info">
							<li><span><img src="/palace/assets/images/icons/bed.svg" alt="" /></span>4 Beds</li>
							<li><span><img src="/palace/assets/images/icons/bath.svg" alt="" /></span>2 Bathrooms</li>
							<li><span><img src="/palace/assets/images/icons/square.svg" alt="" /></span>6x8 m²</li>
						</ul>
						<div class="d-flex justify-content-between align-items-center flex-wrap">
							<div class="property-block_one-price">$2,400 <span>/month</span></div>
							<a class="property-block_one-heart" href="property-detail.html"><img src="/palace/assets/images/icons/heart.svg" alt="" /></a>
						</div>
					</div>
				</div>
			</div>

			<!-- Property Block One -->
			<div class="property-block_one style-three col-lg-4 col-md-6 col-sm-12">
				<div class="property-block_one-inner wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="property-block_one-image">
						<div class="property-block_one-title">Featuerd</div>
						<a href="property-detail.html"><img src="/palace/assets/images/resource/property-5.jpg" alt="" /></a>
					</div>
					<div class="property-block_one-content">
						<div class="property-block_one-location"><i class="flaticon-maps-and-flags"></i>Pasadena 809b-2, Oklahoma</div>
						<h4 class="property-block_one-heading"><a href="property-detail.html">Super deluxe bed room with best touch</a></h4>
						<ul class="property-block_one-info">
							<li><span><img src="/palace/assets/images/icons/bed.svg" alt="" /></span>4 Beds</li>
							<li><span><img src="/palace/assets/images/icons/bath.svg" alt="" /></span>2 Bathrooms</li>
							<li><span><img src="/palace/assets/images/icons/square.svg" alt="" /></span>6x8 m²</li>
						</ul>
						<div class="d-flex justify-content-between align-items-center flex-wrap">
							<div class="property-block_one-price">$2,400 <span>/month</span></div>
							<a class="property-block_one-heart" href="property-detail.html"><img src="/palace/assets/images/icons/heart.svg" alt="" /></a>
						</div>
					</div>
				</div>
			</div>

			<!-- Property Block One -->
			<div class="property-block_one style-three col-lg-4 col-md-6 col-sm-12">
				<div class="property-block_one-inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="property-block_one-image">
						<div class="property-block_one-title">Featuerd</div>
						<a href="property-detail.html"><img src="/palace/assets/images/resource/property-6.jpg" alt="" /></a>
					</div>
					<div class="property-block_one-content">
						<div class="property-block_one-location"><i class="flaticon-maps-and-flags"></i>Pasadena 809b-2, Oklahoma</div>
						<h4 class="property-block_one-heading"><a href="property-detail.html">Fully glaze oriented house for sell</a></h4>
						<ul class="property-block_one-info">
							<li><span><img src="/palace/assets/images/icons/bed.svg" alt="" /></span>4 Beds</li>
							<li><span><img src="/palace/assets/images/icons/bath.svg" alt="" /></span>2 Bathrooms</li>
							<li><span><img src="/palace/assets/images/icons/square.svg" alt="" /></span>6x8 m²</li>
						</ul>
						<div class="d-flex justify-content-between align-items-center flex-wrap">
							<div class="property-block_one-price">$2,400 <span>/month</span></div>
							<a class="property-block_one-heart" href="property-detail.html"><img src="/palace/assets/images/icons/heart.svg" alt="" /></a>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- Styled Pagination -->
		@* <ul class="styled-pagination text-center">
			<li><a href="#" class="active">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li class="next"><a href="#"><span class="fa-solid fa-angle-right fa-fw"></span></a></li>
		</ul> *@
		<!-- End Styled Pagination -->

	</div>
</section>