<section class="blog-one">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title d-flex justify-content-between align-items-center flex-wrap">
			<div class="left-box">
				<div class="sec-title_title">Fırsatlar</div>
				<h2 class="sec-title_heading">Günün Fırsatları</h2>
			</div>
			<!-- Button Box -->
			<div class="blog-one_button">
				<a href="blog.html" class="theme-btn btn-style-two">
					<span class="btn-wrap">
						<span class="text-one">Fırsatları İnceleyin</span>
						<span class="text-two">Fırsatları İnceleyin</span>
					</span>
				</a>
			</div>
		</div>
		<div class="inner-container">
			<div class="row clearfix">

				<!-- News Block One -->
				<div class="news-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="news-block_one-inner">
						<div class="news-block_one-image">
							<a href="blog-detail.html"><img src="/palace/assets/images/resource/news-1.jpg" alt="" /></a>
						</div>
						<div class="news-block_one-content">
							<ul class="news-block_one-meta">
								<li>By Admin</li>
								<li>6 min read</li>
							</ul>
							<h4 class="news-block_one-title"><a href="blog-detail.html">Home buying 101 Essential best Tips.</a></h4>
							<a class="news-block_one-more" href="blog-detail.html">Read More <i class="flaticon-next-1"></i></a>
						</div>
					</div>
				</div>

				<!-- News Block One -->
				<div class="news-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="news-block_one-inner">
						<div class="news-block_one-image">
							<a href="blog-detail.html"><img src="/palace/assets/images/resource/news-2.jpg" alt="" /></a>
						</div>
						<div class="news-block_one-content">
							<ul class="news-block_one-meta">
								<li>By Admin</li>
								<li>6 min read</li>
							</ul>
							<h4 class="news-block_one-title"><a href="blog-detail.html">Finding Dream Home: Step by Step with us</a></h4>
							<a class="news-block_one-more" href="blog-detail.html">Read More <i class="flaticon-next-1"></i></a>
						</div>
					</div>
				</div>

				<!-- News Block One -->
				<div class="news-block_one col-lg-4 col-md-6 col-sm-12">
					<div class="news-block_one-inner">
						<div class="news-block_one-image">
							<a href="blog-detail.html"><img src="/palace/assets/images/resource/news-3.jpg" alt="" /></a>
						</div>
						<div class="news-block_one-content">
							<ul class="news-block_one-meta">
								<li>By Admin</li>
								<li>6 min read</li>
							</ul>
							<h4 class="news-block_one-title"><a href="blog-detail.html">Selling Your Home: Quick Pro Tips now</a></h4>
							<a class="news-block_one-more" href="blog-detail.html">Read More <i class="flaticon-next-1"></i></a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>