<section class="services-one style-two">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<div class="sec-title_title">Our Services</div>
			<h2 class="sec-title_heading">Take a stroll around <br> surroundings.</h2>
		</div>
		<div class="row clearfix">

			<!-- Service Block One -->
			<div class="service-block_one col-lg-4 col-md-6 col-sm-12">
				<div class="service-block_one-inner">
					<div class="service-block_one_image" style="background-image:url(/palace/assets/images/resource/services-1.jpg)"></div>
					<div class="service-block_one-icon">
						<i class="flaticon-building"></i>
					</div>
					<h4 class="service-block_one-heading"><a href="service-detail.html">Building <br> Construction</a></h4>
					<div class="service-block_one-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.</div>
					<a class="service-block_one-more" href="blog-detail.html">Read More <i class="flaticon-next-1"></i></a>
				</div>
			</div>

			<!-- Service Block One -->
			<div class="service-block_one col-lg-4 col-md-6 col-sm-12">
				<div class="service-block_one-inner">
					<div class="service-block_one_image" style="background-image:url(/palace/assets/images/resource/services-1.jpg)"></div>
					<div class="service-block_one-icon">
						<i class="flaticon-interior-design"></i>
					</div>
					<h4 class="service-block_one-heading"><a href="service-detail.html">Interior <br> designing</a></h4>
					<div class="service-block_one-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.</div>
					<a class="service-block_one-more" href="blog-detail.html">Read More <i class="flaticon-next-1"></i></a>
				</div>
			</div>

			<!-- Service Block One -->
			<div class="service-block_one col-lg-4 col-md-6 col-sm-12">
				<div class="service-block_one-inner">
					<div class="service-block_one_image" style="background-image:url(/palace/assets/images/resource/services-1.jpg)"></div>
					<div class="service-block_one-icon">
						<i class="flaticon-building-1"></i>
					</div>
					<h4 class="service-block_one-heading"><a href="service-detail.html">General <br> Construction</a></h4>
					<div class="service-block_one-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.</div>
					<a class="service-block_one-more" href="blog-detail.html">Read More <i class="flaticon-next-1"></i></a>
				</div>
			</div>

		</div>
	</div>
</section>