<section class="testimonial-one">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<div class="sec-title_title">Referanslarımız</div>
			<h2 class="sec-title_heading">Mutlu <br> Müşterilerimiz</h2>
		</div>

		<div class="single-item_slider swiper-container">
			<div class="swiper-wrapper">

				<!-- Slide -->
				<div class="swiper-slide">
					<!-- Testimonial Block One -->
					<div class="testimonial-block_one">
						<div class="testimonial-block_one-inner">
							<div class="row clearfix">
								<div class="testimonial-block_one-image_column col-lg-6 col-md-12 col-sm-12">
									<div class="testimonial-block_one-image">
										<img src="/palace/assets/images/resource/testimonial-1.png" alt="" />
										<div class="testimonial-block_one-content">
											<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-video testimonial-block_one-play"><span class="flaticon-play-1"><i class="ripple"></i></span></a>
											<h4 class="testimonial-block_one-name">Leslie Alexander <span>Online Broker</span></h4>
										</div>
									</div>
								</div>

								<div class="testimonial-block_one-content_column col-lg-6 col-md-12 col-sm-12">
									<div class="testimonial-block_one-contents">
										<div class="testimonial-block_one-quote">
											<img src="/palace/assets/images/icons/quote.svg" alt="" />
										</div>
										<div class="testimonial-block_one-rating">
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
										</div>
										<div class="testimonial-block_one-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non of our suscipit to real estate.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slide -->
				<div class="swiper-slide">
					<!-- Testimonial Block One -->
					<div class="testimonial-block_one">
						<div class="testimonial-block_one-inner">
							<div class="row clearfix">
								<div class="testimonial-block_one-image_column col-lg-6 col-md-12 col-sm-12">
									<div class="testimonial-block_one-image">
										<img src="/palace/assets/images/resource/testimonial-1.png" alt="" />
										<div class="testimonial-block_one-content">
											<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-video testimonial-block_one-play"><span class="flaticon-play-1"><i class="ripple"></i></span></a>
											<h4 class="testimonial-block_one-name">Leslie Alexander <span>Online Broker</span></h4>
										</div>
									</div>
								</div>

								<div class="testimonial-block_one-content_column col-lg-6 col-md-12 col-sm-12">
									<div class="testimonial-block_one-contents">
										<div class="testimonial-block_one-quote">
											<img src="/palace/assets/images/icons/quote.svg" alt="" />
										</div>
										<div class="testimonial-block_one-rating">
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
										</div>
										<div class="testimonial-block_one-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non of our suscipit to real estate.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slide -->
				<div class="swiper-slide">
					<!-- Testimonial Block One -->
					<div class="testimonial-block_one">
						<div class="testimonial-block_one-inner">
							<div class="row clearfix">
								<div class="testimonial-block_one-image_column col-lg-6 col-md-12 col-sm-12">
									<div class="testimonial-block_one-image">
										<img src="/palace/assets/images/resource/testimonial-1.png" alt="" />
										<div class="testimonial-block_one-content">
											<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-video testimonial-block_one-play"><span class="flaticon-play-1"><i class="ripple"></i></span></a>
											<h4 class="testimonial-block_one-name">Leslie Alexander <span>Online Broker</span></h4>
										</div>
									</div>
								</div>

								<div class="testimonial-block_one-content_column col-lg-6 col-md-12 col-sm-12">
									<div class="testimonial-block_one-contents">
										<div class="testimonial-block_one-quote">
											<img src="/palace/assets/images/icons/quote.svg" alt="" />
										</div>
										<div class="testimonial-block_one-rating">
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
											<span class="fa fa-star"></span>
										</div>
										<div class="testimonial-block_one-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non of our suscipit to real estate.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<!-- If we need pagination -->
			<div class="single-item_slider-pagination"></div>

			<!-- If we need navigation buttons -->
			<div class="testimonial-one_arrows">
				<div class="single-item_slider-prev"><img src="/palace/assets/images/icons/prev-arrow.png" alt="" /></div>
				<div class="single-item_slider-next"><img src="/palace/assets/images/icons/next-arrow.png" alt="" /></div>
			</div>

		</div>

	</div>
</section>