<footer class="main-footer">
	<div class="main-footer_pattern" style="background-image: url(/palace/assets/images/background/footer-1.png)"></div>
	<!-- Widgets Section -->
	<div class="widgets-section">
		<div class="auto-container">
			<div class="row clearfix">

				<!-- Big Column -->
				<div class="big-column col-lg-6 col-md-12 col-sm-12">
					<div class="row clearfix">

						<!-- Footer Column -->
						<div class="footer_column col-lg-7 col-md-6 col-sm-12">
							<div class="footer-widget">
								<div class="footer-logo"><a href="index.html"><img src="/palace/assets/images/footer-logo.svg" alt="" title=""></a></div>
								<div class="footer-text">Lorem ipsum dolor sit amet consecte adipiscing elit Ut et massa mi. Aliquam  hendrerit urna.</div>

								<h5 class="footer-title">Subscribe Now!</h5>
								<!-- Newsletter Box -->
								<div class="newsletter-box">
									<form method="post" action="contact.html">
										<div class="form-group">
											<input type="email" name="search-field" value="" placeholder="Your Email" required>
											<button type="submit"><i class="flaticon-bell"></i></button>
										</div>
									</form>
								</div>
							</div>
						</div>

						<!-- Footer Column -->
						<div class="footer_column col-lg-5 col-md-6 col-sm-12">
							<div class="footer-widget links-widget">
								<h5 class="footer-title">Our Company</h5>
								<ul class="footer-list">
									<li><a href="#">Terms of Use</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Pricing Plan</a></li>
									<li><a href="#">Our Services</a></li>
									<li><a href="#">Contact</a></li>
									<li><a href="#">Careers</a></li>
									<li><a href="#">FAQS</a></li>
								</ul>
							</div>
						</div>

					</div>
				</div>

				<!-- Big Column -->
				<div class="big-column col-lg-6 col-md-12 col-sm-12">
					<div class="row clearfix">

						<!-- Footer Column -->
						<div class="footer_column col-lg-6 col-md-6 col-sm-12">
							<div class="footer-widget links-widget">
								<h5 class="footer-title">Discover Cities</h5>
								<ul class="footer-list">
									<li><a href="#">Chicago</a></li>
									<li><a href="#">Los Angeles</a></li>
									<li><a href="#">New Jersey</a></li>
									<li><a href="#">Russia</a></li>
									<li><a href="#">South Africa</a></li>
									<li><a href="#">Canada</a></li>
									<li><a href="#">Germany</a></li>
								</ul>
							</div>
						</div>

						<!-- Footer Column -->
						<div class="footer_column col-lg-6 col-md-6 col-sm-12">
							<div class="footer-widget contact-widget">
								<h5 class="footer-title">Contact Information</h5>
								<ul class="footer-contact_list">
									<li>
										<span class="flaticon-pin"></span>
										1426 StreetBend,7702, <br> California, USA
									</li>
									<li>
										<span class="flaticon-telephone"></span>
										<a href="tel:+815-804-8928">815-804-8928</a>
									</li>
									<li>
										<span class="flaticon-mail-1"></span>
										<a href="mailto:support@palace.com">support@palace.com</a>
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>

			</div>

		</div>
	</div>
	<!-- End Widgets Section -->
	<!-- Footer Bottom -->
	<div class="footer-bottom">
		<div class="auto-container">
			<div class="d-flex justify-content-between align-items-center flex-wrap">
				<div class="copyright">Copyright &copy; 2024 <a href="#">Palace</a> All Rights Reserved</div>

				<!-- Social Box -->
				<div class="footer_socials">
					<a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
					<a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
					<a href="https://youtube.com/"><i class="fa-brands fa-youtube"></i></a>
					<a href="https://instagram.com/"><i class="fa-brands fa-instagram"></i></a>
				</div>

				<ul class="footer-bottom_nav">
					<li><a href="#">Term & Condition</a></li>
					<li><a href="#">Policy & Privacy </a></li>
				</ul>
			</div>
		</div>
	</div>

</footer>