<section class="story-one">
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Image Column -->
			<div class="story-one_image-column col-lg-6 col-md-12 col-sm-12">
				<div class="story-one_image-outer">
					<div class="story-one_image wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<img src="/palace/assets/images/resource/story-1.jpg" alt="" />
					</div>
					<div class="story-one_experiance">
						<div class="story-one_experiance-inner">
							30<i>+</i> <span>Years of <br> Expereence</span>
						</div>
					</div>
				</div>
			</div>

			<!-- Content Column -->
			<div class="story-one_content-column col-lg-6 col-md-12 col-sm-12">
				<div class="story-one_content-outer">
					<!-- Sec Title -->
					<div class="sec-title">
						<div class="sec-title_title">Biz Kimiz?</div>
						<h2 class="sec-title_heading">Benzersiz Yatırım Fırsatlarını Size Sunuyoruz</h2>
						<div class="sec-title_text">Gayrimenkul sektöründe uzman ekibimizle, sizlere değerli ve kazançlı yatırım fırsatları sunuyoruz. İhtiyaçlarınıza özel çözümlerle, güvenilir ve şeffaf hizmet anlayışını bir araya getiriyoruz. Geleceğinizi şekillendirecek yatırımları birlikte planlayalım.</div>
					</div>

					<!-- Story Block One -->
					<div class="story-block_one">
						<div class="story-block_one-inner">
							<div class="story-block_one-icon">
								<span>01</span>
								<i class="flaticon-rating"></i>
							</div>
							<h5 class="story-block_one-heading">Client Centric Approach</h5>
							<div class="story-block_one-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.</div>
						</div>
					</div>

					<!-- Story Block One -->
					<div class="story-block_one">
						<div class="story-block_one-inner">
							<div class="story-block_one-icon">
								<span>02</span>
								<i class="flaticon-technology"></i>
							</div>
							<h5 class="story-block_one-heading">Integrity & Transparency</h5>
							<div class="story-block_one-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.</div>
						</div>
					</div>

					<!-- Header Button Box -->
					<div class="story-one_button">
						<a href="event-detail.html" class="theme-btn btn-style-one">
							<span class="btn-wrap">
								<span class="text-one">Hakkımızda</span>
								<span class="text-two">Hakkımızda</span>
							</span>
						</a>
					</div>

				</div>
			</div>

		</div>
	</div>
</section>