<section class="banner-one">
	<div class="banner-one_image" style="background-image:url(/palace/assets/images/main-slider/1.jpg)"></div>
	<div class="auto-container">

		<!-- Content Column -->
		<div class="banner-one_content">
			<div class="banner-one_content-inner">
				<h1 class="banner-one_heading">Hayalinizdeki <span>eve</span> sahip olun.</h1>
				<!-- Banner Tabs -->
				<div class="banner-tabs">
					<!-- Product Tabs -->
					<div class="prod-tabs tabs-box">

						<!-- Tab Btns -->
						<ul class="tab-btns tab-buttons clearfix">
							<li data-tab="#prod-buy" class="tab-btn active-btn">buy</li>
							<li data-tab="#prod-rent" class="tab-btn">rent</li>
							<li data-tab="#prod-sell" class="tab-btn">sell</li>
						</ul>

						<!-- Tabs Container -->
						<div class="tabs-content">

							<!-- Tab -->
							<div class="tab active-tab" id="prod-buy">
								<div class="content">
									<!-- Default Form -->
									<div class="default-form">
										<form method="post" action="contact.html">
											<div class="row clearfix">

												<div class="col-lg-4 col-md-4 col-sm-6 form-group">
													<label>Konum</label>
													<select name="country" class="custom-select-box">
														<option>Florida, Usa</option>
														<option>Berlin</option>
														<option>France</option>
														<option>Pakistan</option>
													</select>
												</div>

												<div class="col-lg-4 col-md-4 col-sm-6 form-group">
													<label>İlan Türü</label>
													<select name="country" class="custom-select-box">
														<option>20 x 10 Meters</option>
														<option>30 x 20 Meters</option>
														<option>40 x 30 Meters</option>
														<option>50 x 40 Meters</option>
													</select>
												</div>
												
												<div class="col-lg-4 col-md-4 col-sm-12 form-group">
													
													<label>Fiyat Aralığınız</label>
													 <select name="country" class="custom-select-box">
														<option>$700 - $900</option>
														<option>$800 - $1000</option>
														<option>$900 - $1100</option>
														<option>$1000 - $1200</option>
													</select> 
												</div>

											</div>
											<!-- Button Box -->
											<div class="button-box">
												<button class="submit-btn flaticon-search-interface-symbol"></button>
											</div>
										</form>
									</div>
								</div>
							</div>

							<!-- Tab -->
							<div class="tab" id="prod-rent">
								<div class="content">
									<!-- Default Form -->
									<div class="default-form">
										<form method="post" action="contact.html">
											<div class="row clearfix">

												<div class="col-lg-4 col-md-4 col-sm-6 form-group">
													<label>Location</label>
													<select name="country" class="custom-select-box">
														<option>Florida, Usa</option>
														<option>Berlin</option>
														<option>France</option>
														<option>Pakistan</option>
													</select>
												</div>

												<div class="col-lg-4 col-md-4 col-sm-6 form-group">
													<label>Type</label>
													<select name="country" class="custom-select-box">
														<option>20 x 10 Meters</option>
														<option>30 x 20 Meters</option>
														<option>40 x 30 Meters</option>
														<option>50 x 40 Meters</option>
													</select>
												</div>

												<div class="col-lg-4 col-md-4 col-sm-12 form-group">
													<label>Price Range</label>
													<select name="country" class="custom-select-box">
														<option>$700 - $900</option>
														<option>$800 - $1000</option>
														<option>$900 - $1100</option>
														<option>$1000 - $1200</option>
													</select>
												</div>

											</div>
											<!-- Button Box -->
											<div class="button-box">
												<button class="submit-btn flaticon-search-interface-symbol"></button>
											</div>
										</form>
									</div>
								</div>
							</div>

							<!-- Tab -->
							<div class="tab" id="prod-sell">
								<div class="content">
									<!-- Default Form -->
									<div class="default-form">
										<form method="post" action="contact.html">
											<div class="row clearfix">

												<div class="col-lg-4 col-md-4 col-sm-6 form-group">
													<label>Location</label>
													<select name="country" class="custom-select-box">
														<option>Florida, Usa</option>
														<option>Berlin</option>
														<option>France</option>
														<option>Pakistan</option>
													</select>
												</div>

												<div class="col-lg-4 col-md-4 col-sm-6 form-group">
													<label>Type</label>
													<select name="country" class="custom-select-box">
														<option>20 x 10 Meters</option>
														<option>30 x 20 Meters</option>
														<option>40 x 30 Meters</option>
														<option>50 x 40 Meters</option>
													</select>
												</div>

												<div class="col-lg-4 col-md-4 col-sm-12 form-group">
													<label>Price Range</label>
													<select name="country" class="custom-select-box">
														<option>$700 - $900</option>
														<option>$800 - $1000</option>
														<option>$900 - $1100</option>
														<option>$1000 - $1200</option>
													</select>
												</div>

											</div>
											<!-- Button Box -->
											<div class="button-box">
												<button class="submit-btn flaticon-search-interface-symbol"></button>
											</div>
										</form>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>