
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
	@await Component.InvokeAsync("_HeaderViewComponentPartial")

<body>

	<div class="page-wrapper">

		<!-- Cursor -->
		<div class="cursor"></div>
		<div class="cursor-follower"></div>
		<!-- Cursor End -->
		<!-- Preloader -->
		<div class="preloader">
			<div class="box"></div>
		</div>

		<!-- Main Header -->
		@await Component.InvokeAsync("_NavbarViewComponentPartial")
		<!-- End Main Header -->

		<!--Render Body Alanı-->
		@RenderBody()
		<!--Render Body Alanı Bitiş-->
		<!-- Slider One -->
	@* 	<section class="banner-one">
			<div class="banner-one_image" style="background-image:url(/palace/assets/images/main-slider/1.jpg)"></div>
			<div class="auto-container">

				<!-- Content Column -->
				<div class="banner-one_content">
					<div class="banner-one_content-inner">
						<h1 class="banner-one_heading">Discover Next Perfect <span>Property</span> on Palace.</h1>
						<!-- Banner Tabs -->
						<div class="banner-tabs">
							<!-- Product Tabs -->
							<div class="prod-tabs tabs-box">

								<!-- Tab Btns -->
								<ul class="tab-btns tab-buttons clearfix">
									<li data-tab="#prod-buy" class="tab-btn active-btn">buy</li>
									<li data-tab="#prod-rent" class="tab-btn">rent</li>
									<li data-tab="#prod-sell" class="tab-btn">sell</li>
								</ul>

								<!-- Tabs Container -->
								<div class="tabs-content">

									<!-- Tab -->
									<div class="tab active-tab" id="prod-buy">
										<div class="content">
											<!-- Default Form -->
											<div class="default-form">
												<form method="post" action="contact.html">
													<div class="row clearfix">

														<div class="col-lg-4 col-md-4 col-sm-6 form-group">
															<label>Location</label>
															<select name="country" class="custom-select-box">
																<option>Florida, Usa</option>
																<option>Berlin</option>
																<option>France</option>
																<option>Pakistan</option>
															</select>
														</div>

														<div class="col-lg-4 col-md-4 col-sm-6 form-group">
															<label>Type</label>
															<select name="country" class="custom-select-box">
																<option>20 x 10 Meters</option>
																<option>30 x 20 Meters</option>
																<option>40 x 30 Meters</option>
																<option>50 x 40 Meters</option>
															</select>
														</div>

														<div class="col-lg-4 col-md-4 col-sm-12 form-group">
															<label>Price Range</label>
															<select name="country" class="custom-select-box">
																<option>$700 - $900</option>
																<option>$800 - $1000</option>
																<option>$900 - $1100</option>
																<option>$1000 - $1200</option>
															</select>
														</div>

													</div>
													<!-- Button Box -->
													<div class="button-box">
														<button class="submit-btn flaticon-search-interface-symbol"></button>
													</div>
												</form>
											</div>
										</div>
									</div>

									<!-- Tab -->
									<div class="tab" id="prod-rent">
										<div class="content">
											<!-- Default Form -->
											<div class="default-form">
												<form method="post" action="contact.html">
													<div class="row clearfix">

														<div class="col-lg-4 col-md-4 col-sm-6 form-group">
															<label>Location</label>
															<select name="country" class="custom-select-box">
																<option>Florida, Usa</option>
																<option>Berlin</option>
																<option>France</option>
																<option>Pakistan</option>
															</select>
														</div>

														<div class="col-lg-4 col-md-4 col-sm-6 form-group">
															<label>Type</label>
															<select name="country" class="custom-select-box">
																<option>20 x 10 Meters</option>
																<option>30 x 20 Meters</option>
																<option>40 x 30 Meters</option>
																<option>50 x 40 Meters</option>
															</select>
														</div>

														<div class="col-lg-4 col-md-4 col-sm-12 form-group">
															<label>Price Range</label>
															<select name="country" class="custom-select-box">
																<option>$700 - $900</option>
																<option>$800 - $1000</option>
																<option>$900 - $1100</option>
																<option>$1000 - $1200</option>
															</select>
														</div>

													</div>
													<!-- Button Box -->
													<div class="button-box">
														<button class="submit-btn flaticon-search-interface-symbol"></button>
													</div>
												</form>
											</div>
										</div>
									</div>

									<!-- Tab -->
									<div class="tab" id="prod-sell">
										<div class="content">
											<!-- Default Form -->
											<div class="default-form">
												<form method="post" action="contact.html">
													<div class="row clearfix">

														<div class="col-lg-4 col-md-4 col-sm-6 form-group">
															<label>Location</label>
															<select name="country" class="custom-select-box">
																<option>Florida, Usa</option>
																<option>Berlin</option>
																<option>France</option>
																<option>Pakistan</option>
															</select>
														</div>

														<div class="col-lg-4 col-md-4 col-sm-6 form-group">
															<label>Type</label>
															<select name="country" class="custom-select-box">
																<option>20 x 10 Meters</option>
																<option>30 x 20 Meters</option>
																<option>40 x 30 Meters</option>
																<option>50 x 40 Meters</option>
															</select>
														</div>

														<div class="col-lg-4 col-md-4 col-sm-12 form-group">
															<label>Price Range</label>
															<select name="country" class="custom-select-box">
																<option>$700 - $900</option>
																<option>$800 - $1000</option>
																<option>$900 - $1100</option>
																<option>$1000 - $1200</option>
															</select>
														</div>

													</div>
													<!-- Button Box -->
													<div class="button-box">
														<button class="submit-btn flaticon-search-interface-symbol"></button>
													</div>
												</form>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section> *@
		<!-- End Main Slider Section -->
		<!-- Story One -->
	@* 	<section class="story-one">
			<div class="auto-container">
				<div class="row clearfix">

					<!-- Image Column -->
					<div class="story-one_image-column col-lg-6 col-md-12 col-sm-12">
						<div class="story-one_image-outer">
							<div class="story-one_image wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
								<img src="/palace/assets/images/resource/story-1.jpg" alt="" />
							</div>
							<div class="story-one_experiance">
								<div class="story-one_experiance-inner">
									30<i>+</i> <span>Years of <br> Expereence</span>
								</div>
							</div>
						</div>
					</div>

					<!-- Content Column -->
					<div class="story-one_content-column col-lg-6 col-md-12 col-sm-12">
						<div class="story-one_content-outer">
							<!-- Sec Title -->
							<div class="sec-title">
								<div class="sec-title_title">Discover Our Story</div>
								<h2 class="sec-title_heading">Unveiling Palace  Real Estate Journey</h2>
								<div class="sec-title_text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris.</div>
							</div>

							<!-- Story Block One -->
							<div class="story-block_one">
								<div class="story-block_one-inner">
									<div class="story-block_one-icon">
										<span>01</span>
										<i class="flaticon-rating"></i>
									</div>
									<h5 class="story-block_one-heading">Client Centric Approach</h5>
									<div class="story-block_one-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.</div>
								</div>
							</div>

							<!-- Story Block One -->
							<div class="story-block_one">
								<div class="story-block_one-inner">
									<div class="story-block_one-icon">
										<span>02</span>
										<i class="flaticon-technology"></i>
									</div>
									<h5 class="story-block_one-heading">Integrity & Transparency</h5>
									<div class="story-block_one-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.</div>
								</div>
							</div>

							<!-- Header Button Box -->
							<div class="story-one_button">
								<a href="event-detail.html" class="theme-btn btn-style-one">
									<span class="btn-wrap">
										<span class="text-one">Read More</span>
										<span class="text-two">Read More</span>
									</span>
								</a>
							</div>

						</div>
					</div>

				</div>
			</div>
		</section> *@
		<!-- End Story One -->
		<!-- Cities One -->
		@* <section class="cities-one">
			<div class="auto-container">
				<!-- Sec Title -->
				<div class="sec-title">
					<div class="sec-title_title">Explore Cities</div>
					<h2 class="sec-title_heading">Take a stroll around <br> surroundings.</h2>
				</div>
				<div class="inner-container">
					<div class="four-items_slider swiper-container">
						<div class="swiper-wrapper">

							<!-- Slide -->
							<div class="swiper-slide">
								<!-- City Block One -->
								<div class="city-block_one">
									<div class="city-block_one-inner">
										<div class="city-block_one-image">
											<img src="/palace/assets/images/resource/city-1.jpg" alt="" />
											<div class="city-block_one-overlay">
												<div class="city-block_one-content">
													<div class="city-block_one-title">60 Properties</div>
													<h4 class="city-block_one-heading"><a href="property-detail.html">Sanghai, Chaina</a></h4>
													<div class="city-block_one-text">Lorem ipsum dolors sit our amet consectetur adipiscing.</div>
													<a class="city-block_one-more" href="property-detail.html">explore all <i class="flaticon-next-1"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Slide -->
							<div class="swiper-slide">
								<!-- City Block One -->
								<div class="city-block_one">
									<div class="city-block_one-inner">
										<div class="city-block_one-image">
											<img src="/palace/assets/images/resource/city-2.jpg" alt="" />
											<div class="city-block_one-overlay">
												<div class="city-block_one-content">
													<div class="city-block_one-title">60 Properties</div>
													<h4 class="city-block_one-heading"><a href="property-detail.html">Bursa, Türkiye</a></h4>
													<div class="city-block_one-text">Lorem ipsum dolors sit our amet consectetur adipiscing.</div>
													<a class="city-block_one-more" href="property-detail.html">explore all <i class="flaticon-next-1"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Slide -->
							<div class="swiper-slide">
								<!-- City Block One -->
								<div class="city-block_one">
									<div class="city-block_one-inner">
										<div class="city-block_one-image">
											<img src="/palace/assets/images/resource/city-3.jpg" alt="" />
											<div class="city-block_one-overlay">
												<div class="city-block_one-content">
													<div class="city-block_one-title">60 Properties</div>
													<h4 class="city-block_one-heading"><a href="property-detail.html">California, Usa</a></h4>
													<div class="city-block_one-text">Lorem ipsum dolors sit our amet consectetur adipiscing.</div>
													<a class="city-block_one-more" href="property-detail.html">explore all <i class="flaticon-next-1"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Slide -->
							<div class="swiper-slide">
								<!-- City Block One -->
								<div class="city-block_one">
									<div class="city-block_one-inner">
										<div class="city-block_one-image">
											<img src="/palace/assets/images/resource/city-4.jpg" alt="" />
											<div class="city-block_one-overlay">
												<div class="city-block_one-content">
													<div class="city-block_one-title">60 Properties</div>
													<h4 class="city-block_one-heading"><a href="property-detail.html">NewYork, usa</a></h4>
													<div class="city-block_one-text">Lorem ipsum dolors sit our amet consectetur adipiscing.</div>
													<a class="city-block_one-more" href="property-detail.html">explore all <i class="flaticon-next-1"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

						<!-- If we need pagination -->
						<div class="four-items_slider-pagination"></div>

						<!-- If we need navigation buttons -->
						<div class="four-items_slider-prev"><img src="/palace/assets/images/icons/prev-arrow.png" alt="" /></div>
						<div class="four-items_slider-next"><img src="/palace/assets/images/icons/next-arrow.png" alt="" /></div>

					</div>
				</div>

			</div>
		</section> *@
		<!-- End Cities One -->
		<!-- App One -->
		@* <section class="app-one">
			<div class="auto-container">
				<div class="row clearfix">
					<!-- Column -->
					<div class="app-one_content-column col-lg-6 col-md-12 col-sm-12">
						<div class="app-one_content">
							<!-- Sec Title -->
							<div class="sec-title">
								<div class="sec-title_title">download mobile app</div>
								<h2 class="sec-title_heading">Download Mobile App for Real Estate</h2>
							</div>
							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris.</p>
							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.</p>
							<div class="app-one_buttons">
								<a href="#"><img src="/palace/assets/images/icons/play-store.png" alt="" /></a>
								<a href="#"><img src="/palace/assets/images/icons/app-store.png" alt="" /></a>
							</div>
						</div>
					</div>
					<!-- Column -->
					<div class="app-one_image-column col-lg-6 col-md-12 col-sm-12">
						<div class="app-one_experiance">
							<div class="story-one_experiance-inner">
								4.9<i>/5.0</i><br>
								<div class="rating">
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span><br><br>
									100K Review
								</div>

							</div>
						</div>
						<div class="app-one_image wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
							<img src="/palace/assets/images/resource/app.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</section> *@
		<!-- End App One -->
		<!-- Property One -->
		@* <section class="property-one">
			<div class="auto-container">
				<!-- Sec Title -->
				<div class="sec-title centered">
					<div class="sec-title_title">Latest Properties</div>
					<h2 class="sec-title_heading">Explore Featured <br> Properties</h2>
				</div>
				<div class="row clearfix">

					<!-- Property Block One -->
					<div class="property-block_one col-lg-4 col-md-6 col-sm-12">
						<div class="property-block_one-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="property-block_one-image">
								<div class="property-block_one-title">Featuerd</div>
								<a href="property-detail.html"><img src="/palace/assets/images/resource/property-1.jpg" alt="" /></a>
							</div>
							<div class="property-block_one-content">
								<div class="property-block_one-location"><i class="flaticon-maps-and-flags"></i>Pasadena 809b-2, Oklahoma</div>
								<h4 class="property-block_one-heading"><a href="property-detail.html">Super deluxe bed room near sea beech</a></h4>
								<ul class="property-block_one-info">
									<li><span><img src="/palace/assets/images/icons/bed.svg" alt="" /></span>4 Beds</li>
									<li><span><img src="/palace/assets/images/icons/bath.svg" alt="" /></span>2 Bathrooms</li>
									<li><span><img src="/palace/assets/images/icons/square.svg" alt="" /></span>6x8 m²</li>
								</ul>
								<div class="d-flex justify-content-between align-items-center flex-wrap">
									<div class="property-block_one-price">$2,400 <span>/month</span></div>
									<a class="property-block_one-heart" href="property-detail.html"><img src="/palace/assets/images/icons/heart.svg" alt="" /></a>
								</div>
							</div>
						</div>
					</div>

					<!-- Property Block One -->
					<div class="property-block_one col-lg-4 col-md-6 col-sm-12">
						<div class="property-block_one-inner wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="property-block_one-image">
								<div class="property-block_one-off">20% off</div>
								<a href="property-detail.html"><img src="/palace/assets/images/resource/property-2.jpg" alt="" /></a>
							</div>
							<div class="property-block_one-content">
								<div class="property-block_one-location"><i class="flaticon-maps-and-flags"></i>Pasadena 809b-2, Oklahoma</div>
								<h4 class="property-block_one-heading"><a href="property-detail.html">Super deluxe bed room near sea beech</a></h4>
								<ul class="property-block_one-info">
									<li><span><img src="/palace/assets/images/icons/bed.svg" alt="" /></span>4 Beds</li>
									<li><span><img src="/palace/assets/images/icons/bath.svg" alt="" /></span>2 Bathrooms</li>
									<li><span><img src="/palace/assets/images/icons/square.svg" alt="" /></span>6x8 m²</li>
								</ul>
								<div class="d-flex justify-content-between align-items-center flex-wrap">
									<div class="property-block_one-price">$2,400 <span>/month</span></div>
									<a class="property-block_one-heart" href="property-detail.html"><img src="/palace/assets/images/icons/heart.svg" alt="" /></a>
								</div>
							</div>
						</div>
					</div>

					<!-- Property Block One -->
					<div class="property-block_one col-lg-4 col-md-6 col-sm-12">
						<div class="property-block_one-inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="property-block_one-image">
								<div class="property-block_one-title">Featuerd</div>
								<a href="property-detail.html"><img src="/palace/assets/images/resource/property-3.jpg" alt="" /></a>
							</div>
							<div class="property-block_one-content">
								<div class="property-block_one-location"><i class="flaticon-maps-and-flags"></i>Pasadena 809b-2, Oklahoma</div>
								<h4 class="property-block_one-heading"><a href="property-detail.html">Super deluxe bed room near sea beech</a></h4>
								<ul class="property-block_one-info">
									<li><span><img src="/palace/assets/images/icons/bed.svg" alt="" /></span>4 Beds</li>
									<li><span><img src="/palace/assets/images/icons/bath.svg" alt="" /></span>2 Bathrooms</li>
									<li><span><img src="/palace/assets/images/icons/square.svg" alt="" /></span>6x8 m²</li>
								</ul>
								<div class="d-flex justify-content-between align-items-center flex-wrap">
									<div class="property-block_one-price">$2,400 <span>/month</span></div>
									<a class="property-block_one-heart" href="property-detail.html"><img src="/palace/assets/images/icons/heart.svg" alt="" /></a>
								</div>
							</div>
						</div>
					</div>

				</div>

				<!-- Header Button Box -->
				<div class="property-one_button text-center">
					<a href="property.html" class="theme-btn btn-style-one">
						<span class="btn-wrap">
							<span class="text-one">Explore More</span>
							<span class="text-two">Explore More</span>
						</span>
					</a>
				</div>

			</div>
		</section> *@
		<!-- End Property One -->
		<!-- Team One -->
	@* 	<section class="team-one">
			<div class="auto-container">
				<!-- Sec Title -->
				<div class="sec-title">
					<div class="sec-title_title">Our teams</div>
					<h2 class="sec-title_heading">Meet  our Real Estates <br> Professional</h2>
				</div>
				<div class="four-items_slider swiper-container">
					<div class="swiper-wrapper">

						<!-- Slide -->
						<div class="swiper-slide">
							<!-- Team Block One -->
							<div class="team-block_one">
								<div class="team-block_one-inner">
									<div class="team-block_one-image_outer">
										<div class="team-block_one-image">
											<img src="/palace/assets/images/resource/team-1.png" alt="" />
											<!-- Socials -->
											<div class="team-block_one-socials">
												<div class="team-block_one-socials-inner">
													<a class="fa-brands fa-facebook-f fa-fw" href="#"></a>
													<a class="fa-brands fa-instagram fa-fw" href="#"></a>
													<a class="fa-brands fa-twitter fa-fw" href="#"></a>
													<a class="fa-brands fa-youtube fa-fw" href="#"></a>
												</div>
											</div>
										</div>
									</div>
									<div class="team-block_one-content">
										<div class="d-flex justify-content-between align-items-center flex-wrap">
											<div class="content">
												<h6 class="team-block_one-heading"><a href="team-detail.html">Leslie Alexander</a></h6>
												<div class="team-block_one-designation">Sr. Director</div>
											</div>
											<div class="team-block_one-icon"><img src="/palace/assets/images/icons/chat.svg" alt="" /></div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Slide -->
						<div class="swiper-slide">
							<!-- Team Block One -->
							<div class="team-block_one">
								<div class="team-block_one-inner">
									<div class="team-block_one-image_outer">
										<div class="team-block_one-image">
											<img src="/palace/assets/images/resource/team-2.png" alt="" />
											<!-- Socials -->
											<div class="team-block_one-socials">
												<div class="team-block_one-socials-inner">
													<a class="fa-brands fa-facebook-f fa-fw" href="#"></a>
													<a class="fa-brands fa-instagram fa-fw" href="#"></a>
													<a class="fa-brands fa-twitter fa-fw" href="#"></a>
													<a class="fa-brands fa-youtube fa-fw" href="#"></a>
												</div>
											</div>
										</div>
									</div>
									<div class="team-block_one-content">
										<div class="d-flex justify-content-between align-items-center flex-wrap">
											<div class="content">
												<h6 class="team-block_one-heading"><a href="team-detail.html">Jenny Wilson</a></h6>
												<div class="team-block_one-designation">Sr. Manager</div>
											</div>
											<div class="team-block_one-icon"><img src="/palace/assets/images/icons/chat.svg" alt="" /></div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Slide -->
						<div class="swiper-slide">
							<!-- Team Block One -->
							<div class="team-block_one">
								<div class="team-block_one-inner">
									<div class="team-block_one-image_outer">
										<div class="team-block_one-image">
											<img src="/palace/assets/images/resource/team-3.png" alt="" />
											<!-- Socials -->
											<div class="team-block_one-socials">
												<div class="team-block_one-socials-inner">
													<a class="fa-brands fa-facebook-f fa-fw" href="#"></a>
													<a class="fa-brands fa-instagram fa-fw" href="#"></a>
													<a class="fa-brands fa-twitter fa-fw" href="#"></a>
													<a class="fa-brands fa-youtube fa-fw" href="#"></a>
												</div>
											</div>
										</div>
									</div>
									<div class="team-block_one-content">
										<div class="d-flex justify-content-between align-items-center flex-wrap">
											<div class="content">
												<h6 class="team-block_one-heading"><a href="team-detail.html">Arlene McCoy</a></h6>
												<div class="team-block_one-designation">Sr. HRM</div>
											</div>
											<div class="team-block_one-icon"><img src="/palace/assets/images/icons/chat.svg" alt="" /></div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Slide -->
						<div class="swiper-slide">
							<!-- Team Block One -->
							<div class="team-block_one">
								<div class="team-block_one-inner">
									<div class="team-block_one-image_outer">
										<div class="team-block_one-image">
											<img src="/palace/assets/images/resource/team-4.png" alt="" />
											<!-- Socials -->
											<div class="team-block_one-socials">
												<div class="team-block_one-socials-inner">
													<a class="fa-brands fa-facebook-f fa-fw" href="#"></a>
													<a class="fa-brands fa-instagram fa-fw" href="#"></a>
													<a class="fa-brands fa-twitter fa-fw" href="#"></a>
													<a class="fa-brands fa-youtube fa-fw" href="#"></a>
												</div>
											</div>
										</div>
									</div>
									<div class="team-block_one-content">
										<div class="d-flex justify-content-between align-items-center flex-wrap">
											<div class="content">
												<h6 class="team-block_one-heading"><a href="team-detail.html">Theresa Webb</a></h6>
												<div class="team-block_one-designation">Sr. Marketing</div>
											</div>
											<div class="team-block_one-icon"><img src="/palace/assets/images/icons/chat.svg" alt="" /></div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<!-- If we need pagination -->
					<div class="four-items_slider-pagination"></div>

					<!-- If we need navigation buttons -->
					<div class="four-items_slider-prev"><img src="/palace/assets/images/icons/prev-arrow.png" alt="" /></div>
					<div class="four-items_slider-next"><img src="/palace/assets/images/icons/next-arrow.png" alt="" /></div>

				</div>

			</div>
		</section> *@
		<!-- End Team One -->
		<!-- Contact One -->
	@* 	<section class="contact-one">
			<div class="contact-one_image" style="background-image:url(/palace/assets/images/background/1.jpg)"></div>
			<div class="auto-container">
				<div class="row clearfix">
					<!-- Form Column -->
					<div class="contact-one_form-column col-lg-6 col-md-12 col-sm-12">
						<div class="contact-one_form-outer wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<h3 class="contact-one_form-title">Contact with us</h3>
							<div class="contact-one_form-text">Lorem ipsum dolor sit amet consectetur adipiscing.</div>

							<!-- Contact Form -->
							<div class="contact-form">
								<form method="post" action="contact.html">
									<div class="form-group">
										<i><img src="/palace/assets/images/icons/user-1.svg" alt="" /></i>
										<input type="text" name="username" placeholder="Full Name" required="">
									</div>

									<div class="form-group">
										<i><img src="/palace/assets/images/icons/envelope.svg" alt="" /></i>
										<input type="text" name="email" placeholder="Email Address" required="">
									</div>

									<div class="form-group">
										<i><img src="/palace/assets/images/icons/phone-1.svg" alt="" /></i>
										<input type="text" name="phone" placeholder="Phone Number" required="">
									</div>

									<div class="form-group">
										<textarea class="" name="message" placeholder="Type Here..."></textarea>
									</div>

									<!-- Button Box -->
									<div class="form-group">
										<button class="submit-btn">Send Now</button>
									</div>
								</form>
							</div>

						</div>
					</div>
					<!-- Form Column -->
					<div class="contact-one_content-column col-lg-6 col-md-12 col-sm-12">
						<div class="contact-one_content-outer">
							<!-- Sec Title -->
							<div class="sec-title light">
								<div class="sec-title_title">contact with us</div>
								<h2 class="sec-title_heading">reach out  to us via contact details</h2>
								<div class="sec-title_text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa <br> mi. Aliquam in hendrerit urna. Pellente</div>
							</div>
							<div class="row clearfix">

								<!-- Contact Block One -->
								<div class="contact-block_one col-lg-6 col-md-6 col-sm-12">
									<div class="contact-block_one-inner">
										<div class="contact-block_one-number">01</div>
										<h5 class="contact-block_one-heading">Client Centric Approach</h5>
										<div class="contact-block_one-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.</div>
									</div>
								</div>

								<!-- Contact Block One -->
								<div class="contact-block_one col-lg-6 col-md-6 col-sm-12">
									<div class="contact-block_one-inner">
										<div class="contact-block_one-number">02</div>
										<h5 class="contact-block_one-heading">Integrity & Transparency</h5>
										<div class="contact-block_one-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section> *@
		<!-- End Contact One -->
		<!-- Testimonial One -->
	@* 	<section class="testimonial-one">
			<div class="auto-container">
				<!-- Sec Title -->
				<div class="sec-title centered">
					<div class="sec-title_title">Client Feedback</div>
					<h2 class="sec-title_heading">Our happy clients <br> testimonials</h2>
				</div>

				<div class="single-item_slider swiper-container">
					<div class="swiper-wrapper">

						<!-- Slide -->
						<div class="swiper-slide">
							<!-- Testimonial Block One -->
							<div class="testimonial-block_one">
								<div class="testimonial-block_one-inner">
									<div class="row clearfix">
										<div class="testimonial-block_one-image_column col-lg-6 col-md-12 col-sm-12">
											<div class="testimonial-block_one-image">
												<img src="/palace/assets/images/resource/testimonial-1.png" alt="" />
												<div class="testimonial-block_one-content">
													<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-video testimonial-block_one-play"><span class="flaticon-play-1"><i class="ripple"></i></span></a>
													<h4 class="testimonial-block_one-name">Leslie Alexander <span>Online Broker</span></h4>
												</div>
											</div>
										</div>

										<div class="testimonial-block_one-content_column col-lg-6 col-md-12 col-sm-12">
											<div class="testimonial-block_one-contents">
												<div class="testimonial-block_one-quote">
													<img src="/palace/assets/images/icons/quote.svg" alt="" />
												</div>
												<div class="testimonial-block_one-rating">
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
												</div>
												<div class="testimonial-block_one-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non of our suscipit to real estate.</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Slide -->
						<div class="swiper-slide">
							<!-- Testimonial Block One -->
							<div class="testimonial-block_one">
								<div class="testimonial-block_one-inner">
									<div class="row clearfix">
										<div class="testimonial-block_one-image_column col-lg-6 col-md-12 col-sm-12">
											<div class="testimonial-block_one-image">
												<img src="/palace/assets/images/resource/testimonial-1.png" alt="" />
												<div class="testimonial-block_one-content">
													<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-video testimonial-block_one-play"><span class="flaticon-play-1"><i class="ripple"></i></span></a>
													<h4 class="testimonial-block_one-name">Leslie Alexander <span>Online Broker</span></h4>
												</div>
											</div>
										</div>

										<div class="testimonial-block_one-content_column col-lg-6 col-md-12 col-sm-12">
											<div class="testimonial-block_one-contents">
												<div class="testimonial-block_one-quote">
													<img src="/palace/assets/images/icons/quote.svg" alt="" />
												</div>
												<div class="testimonial-block_one-rating">
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
												</div>
												<div class="testimonial-block_one-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non of our suscipit to real estate.</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Slide -->
						<div class="swiper-slide">
							<!-- Testimonial Block One -->
							<div class="testimonial-block_one">
								<div class="testimonial-block_one-inner">
									<div class="row clearfix">
										<div class="testimonial-block_one-image_column col-lg-6 col-md-12 col-sm-12">
											<div class="testimonial-block_one-image">
												<img src="/palace/assets/images/resource/testimonial-1.png" alt="" />
												<div class="testimonial-block_one-content">
													<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-video testimonial-block_one-play"><span class="flaticon-play-1"><i class="ripple"></i></span></a>
													<h4 class="testimonial-block_one-name">Leslie Alexander <span>Online Broker</span></h4>
												</div>
											</div>
										</div>

										<div class="testimonial-block_one-content_column col-lg-6 col-md-12 col-sm-12">
											<div class="testimonial-block_one-contents">
												<div class="testimonial-block_one-quote">
													<img src="/palace/assets/images/icons/quote.svg" alt="" />
												</div>
												<div class="testimonial-block_one-rating">
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
												</div>
												<div class="testimonial-block_one-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non of our suscipit to real estate.</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<!-- If we need pagination -->
					<div class="single-item_slider-pagination"></div>

					<!-- If we need navigation buttons -->
					<div class="testimonial-one_arrows">
						<div class="single-item_slider-prev"><img src="/palace/assets/images/icons/prev-arrow.png" alt="" /></div>
						<div class="single-item_slider-next"><img src="/palace/assets/images/icons/next-arrow.png" alt="" /></div>
					</div>

				</div>

			</div>
		</section>
		<!-- End Testimonial One -->
		<!-- Clients One -->
		<section class="clients-one">
			<div class="auto-container">
				<div class="inner-container">
					<div class="clients_slider swiper-container">
						<div class="swiper-wrapper">

							<!-- Slide -->
							<div class="swiper-slide">
								<div class="client-image">
									<a href="#"><img src="/palace/assets/images/clients/1.png" alt="" /></a>
								</div>
							</div>

							<!-- Slide -->
							<div class="swiper-slide">
								<div class="client-image">
									<a href="#"><img src="/palace/assets/images/clients/2.png" alt="" /></a>
								</div>
							</div>

							<!-- Slide -->
							<div class="swiper-slide">
								<div class="client-image">
									<a href="#"><img src="/palace/assets/images/clients/3.png" alt="" /></a>
								</div>
							</div>

							<!-- Slide -->
							<div class="swiper-slide">
								<div class="client-image">
									<a href="#"><img src="/palace/assets/images/clients/4.png" alt="" /></a>
								</div>
							</div>

							<!-- Slide -->
							<div class="swiper-slide">
								<div class="client-image">
									<a href="#"><img src="/palace/assets/images/clients/5.png" alt="" /></a>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Clients One -->
		<!-- Blog One -->
		<section class="blog-one">
			<div class="auto-container">
				<!-- Sec Title -->
				<div class="sec-title d-flex justify-content-between align-items-center flex-wrap">
					<div class="left-box">
						<div class="sec-title_title">Our BLog</div>
						<h2 class="sec-title_heading">read  our latest blog</h2>
					</div>
					<!-- Button Box -->
					<div class="blog-one_button">
						<a href="blog.html" class="theme-btn btn-style-two">
							<span class="btn-wrap">
								<span class="text-one">More Blog</span>
								<span class="text-two">More Blog</span>
							</span>
						</a>
					</div>
				</div>
				<div class="inner-container">
					<div class="row clearfix">

						<!-- News Block One -->
						<div class="news-block_one col-lg-4 col-md-6 col-sm-12">
							<div class="news-block_one-inner">
								<div class="news-block_one-image">
									<a href="blog-detail.html"><img src="/palace/assets/images/resource/news-1.jpg" alt="" /></a>
								</div>
								<div class="news-block_one-content">
									<ul class="news-block_one-meta">
										<li>By Admin</li>
										<li>6 min read</li>
									</ul>
									<h4 class="news-block_one-title"><a href="blog-detail.html">Home buying 101 Essential best Tips.</a></h4>
									<a class="news-block_one-more" href="blog-detail.html">Read More <i class="flaticon-next-1"></i></a>
								</div>
							</div>
						</div>

						<!-- News Block One -->
						<div class="news-block_one col-lg-4 col-md-6 col-sm-12">
							<div class="news-block_one-inner">
								<div class="news-block_one-image">
									<a href="blog-detail.html"><img src="/palace/assets/images/resource/news-2.jpg" alt="" /></a>
								</div>
								<div class="news-block_one-content">
									<ul class="news-block_one-meta">
										<li>By Admin</li>
										<li>6 min read</li>
									</ul>
									<h4 class="news-block_one-title"><a href="blog-detail.html">Finding Dream Home: Step by Step with us</a></h4>
									<a class="news-block_one-more" href="blog-detail.html">Read More <i class="flaticon-next-1"></i></a>
								</div>
							</div>
						</div>

						<!-- News Block One -->
						<div class="news-block_one col-lg-4 col-md-6 col-sm-12">
							<div class="news-block_one-inner">
								<div class="news-block_one-image">
									<a href="blog-detail.html"><img src="/palace/assets/images/resource/news-3.jpg" alt="" /></a>
								</div>
								<div class="news-block_one-content">
									<ul class="news-block_one-meta">
										<li>By Admin</li>
										<li>6 min read</li>
									</ul>
									<h4 class="news-block_one-title"><a href="blog-detail.html">Selling Your Home: Quick Pro Tips now</a></h4>
									<a class="news-block_one-more" href="blog-detail.html">Read More <i class="flaticon-next-1"></i></a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section> *@
		<!-- End Blog One -->
		<!-- Main Footer -->
		@await Component.InvokeAsync("_DefaultFooterComponentPartial")
		<!-- End Main Footer -->
		<!-- Search Popup -->
		<div class="search-popup">
			<div class="color-layer"></div>
			<button class="close-search"><span class="flaticon-close"></span></button>
			<form method="post" action="blog.html">
				<div class="form-group">
					<input type="search" name="search-field" value="" placeholder="Search Here" required="">
					<button class="fa fa-solid fa-magnifying-glass fa-fw" type="submit"></button>
				</div>
			</form>
		</div>
		<!-- End Search Popup -->
		<!-- Sidebar Cart Item -->
		<div class="xs-sidebar-group info-group">
			<div class="xs-overlay xs-bg-black"></div>
			<div class="xs-sidebar-widget">
				<div class="sidebar-widget-container">
					<div class="close-button">
						<span class="fa-solid fa-xmark fa-fw"></span>
					</div>
					<div class="sidebar-textwidget">

						<!-- Sidebar Info Content -->
						<div class="sidebar-info-contents">
							<div class="content-inner">

								<!-- Title Box -->
								<div class="title-box">
									<h5>Explore Featured <span>Properties</span></h5>
									<div class="price">$500,000 from free economy shipping</div>
								</div>

								<!-- Empty Cart Box -->
								<div class="empty-cart-box">
									<!-- No Product -->
									<div class="no-cart">
										<span class="icon fa-solid fa-cart-flatbed-suitcase fa-fw"></span>
										No products in cart.
									</div>
								</div>

								<!-- Lower Box -->
								<div class="lower-box">
									<h5>Popular <span>Suggestions</span></h5>

									<!-- Post Block -->
									<div class="post-block">
										<div class="inner-box">
											<div class="image">
												<img src="/palace/assets/images/resource/post-thumb-1.jpg" alt="" />
											</div>
											<h6><a href="#">Dreams Villa</a></h6>
											<div class="rating">
												<span class="fa fa-star"></span>
												<span class="fa fa-star"></span>
												<span class="fa fa-star"></span>
												<span class="fa fa-star"></span>
												<span class="fa fa-star"></span>
											</div>
											<div class="price-box">$225,000</div>
											<a class="theme-btn bag-btn" href="#">add to bag</a>
										</div>
									</div>

									<!-- Post Block -->
									<div class="post-block">
										<div class="inner-box">
											<div class="image">
												<img src="/palace/assets/images/resource/post-thumb-2.jpg" alt="" />
											</div>
											<h6><a href="#">Small Flats</a></h6>
											<div class="rating">
												<span class="fa fa-star"></span>
												<span class="fa fa-star"></span>
												<span class="fa fa-star"></span>
												<span class="fa fa-star"></span>
												<span class="fa fa-star"></span>
											</div>
											<div class="price-box">$350,000</div>
											<a class="theme-btn bag-btn" href="#">add to bag</a>
										</div>
									</div>

									<!-- Post Block -->
									<div class="post-block">
										<div class="inner-box">
											<div class="image">
												<img src="/palace/assets/images/resource/post-thumb-3.jpg" alt="" />
											</div>
											<h6><a href="#">House luxury</a></h6>
											<div class="rating">
												<span class="fa fa-star"></span>
												<span class="fa fa-star"></span>
												<span class="fa fa-star"></span>
												<span class="fa fa-star"></span>
												<span class="fa fa-star"></span>
											</div>
											<div class="price-box">$150,000</div>
											<a class="theme-btn bag-btn" href="#">add to bag</a>
										</div>
									</div>

								</div>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- End PageWrapper -->

	<div class="progress-wrap">
		<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
			<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
		</svg>
	</div>


	@await Component.InvokeAsync("_DefaultScriptComponentPartial")

</body>
</html>