<section class="cities-one">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title">
			<div class="sec-title_title">Şehirler</div>
			<h2 class="sec-title_heading">Take a stroll around <br> surroundings.</h2>
		</div>
		<div class="inner-container">
			<div class="four-items_slider swiper-container">
				<div class="swiper-wrapper">

					<!-- Slide -->
					<div class="swiper-slide">
						<!-- City Block One -->
						<div class="city-block_one">
							<div class="city-block_one-inner">
								<div class="city-block_one-image">
									<img src="/palace/assets/images/resource/city-1.jpg" alt="" />
									<div class="city-block_one-overlay">
										<div class="city-block_one-content">
											<div class="city-block_one-title">60 Properties</div>
											<h4 class="city-block_one-heading"><a href="property-detail.html">Sanghai, Chaina</a></h4>
											<div class="city-block_one-text">Lorem ipsum dolors sit our amet consectetur adipiscing.</div>
											<a class="city-block_one-more" href="property-detail.html">explore all <i class="flaticon-next-1"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Slide -->
					<div class="swiper-slide">
						<!-- City Block One -->
						<div class="city-block_one">
							<div class="city-block_one-inner">
								<div class="city-block_one-image">
									<img src="/palace/assets/images/resource/city-2.jpg" alt="" />
									<div class="city-block_one-overlay">
										<div class="city-block_one-content">
											<div class="city-block_one-title">60 Properties</div>
											<h4 class="city-block_one-heading"><a href="property-detail.html">Bursa, Türkiye</a></h4>
											<div class="city-block_one-text">Lorem ipsum dolors sit our amet consectetur adipiscing.</div>
											<a class="city-block_one-more" href="property-detail.html">explore all <i class="flaticon-next-1"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Slide -->
					<div class="swiper-slide">
						<!-- City Block One -->
						<div class="city-block_one">
							<div class="city-block_one-inner">
								<div class="city-block_one-image">
									<img src="/palace/assets/images/resource/city-3.jpg" alt="" />
									<div class="city-block_one-overlay">
										<div class="city-block_one-content">
											<div class="city-block_one-title">60 Properties</div>
											<h4 class="city-block_one-heading"><a href="property-detail.html">California, Usa</a></h4>
											<div class="city-block_one-text">Lorem ipsum dolors sit our amet consectetur adipiscing.</div>
											<a class="city-block_one-more" href="property-detail.html">explore all <i class="flaticon-next-1"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Slide -->
					<div class="swiper-slide">
						<!-- City Block One -->
						<div class="city-block_one">
							<div class="city-block_one-inner">
								<div class="city-block_one-image">
									<img src="/palace/assets/images/resource/city-4.jpg" alt="" />
									<div class="city-block_one-overlay">
										<div class="city-block_one-content">
											<div class="city-block_one-title">60 Properties</div>
											<h4 class="city-block_one-heading"><a href="property-detail.html">NewYork, usa</a></h4>
											<div class="city-block_one-text">Lorem ipsum dolors sit our amet consectetur adipiscing.</div>
											<a class="city-block_one-more" href="property-detail.html">explore all <i class="flaticon-next-1"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				<!-- If we need pagination -->
				<div class="four-items_slider-pagination"></div>

				<!-- If we need navigation buttons -->
				<div class="four-items_slider-prev"><img src="/palace/assets/images/icons/prev-arrow.png" alt="" /></div>
				<div class="four-items_slider-next"><img src="/palace/assets/images/icons/next-arrow.png" alt="" /></div>

			</div>
		</div>

	</div>
</section>

